/* Commen */

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0 !important;
  text-align: left !important;
}
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.ibox-title {
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
}

.info-title {
    text-align: right;
    font-weight: bold;
}

/* Styles for buttons */

.button-shadow{
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

.button-shadow:hover{
  -webkit-box-shadow: 0px 6px 9px 0px rgba(89,89,89,0.42);
  -moz-box-shadow: 0px 6px 9px 0px rgba(89,89,89,0.42);
  box-shadow: 0px 6px 9px 0px rgba(89,89,89,0.42);
  transform: translateY(-3px);
}

.button-margin{
  margin:7px !important;
  margin-bottom:25px !important;
}

.btn-show{
  padding: 1px 5px !important;
  margin-bottom: 0px !important;
  background-color: #1c84c6 !important;
  border-color: #1c84c6 !important;
  color: #FFFFFF !important;
  display: block !important;
  float: left !important;
  margin-right: 3px !important;
}

.btn-edit{
  padding: 1px 5px !important;
  margin-bottom: 0px !important;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
  color: #FFFFFF !important;
  display: block !important;
  float: left !important;
  margin-right: 3px !important;
}

.btn-delete{
  padding: 1px 5px !important;
  margin-bottom: 0px !important;
  background-color: #ec4758 !important;
  border-color: #ec4758 !important;
  color: #FFFFFF !important;
  display: block !important;
  float: left !important;
  margin-right: 3px !important;
}

.btn-go-back{
  background-color: #1a7bb9 !important;
  border-color: #1a7bb9 !important;
  color: #FFFFFF !important;
}

.btn-active{
  padding: 1px 5px !important;
  margin-bottom: 0px !important;
  background-color: #18a689 !important;
  border-color: #18a689 !important;
  color: #FFFFFF !important;
  display: block !important;
  float: left !important;
  margin-right: 3px !important;
}

.btn-save-update{
  background-color: #18a689 !important;
  border-color: #18a689 !important;
  color: #FFFFFF !important;
}

.btn-create{
  background-color:#00BFFF !important;
  border-color:#70caec !important;
  color: #FFFFFF !important;
}

.btn-search{
  background-color:#9b59b6 !important;
  border-color:#9b59b6 !important;
  color: #FFFFFF !important;
}

input {
  text-transform:uppercase;
}

textarea {
  text-transform:uppercase;
}
